{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "STORAGE_CONN": "UseDevelopmentStorage=true",
    "SCORES_TABLE": "scores",
    "FUNCTIONS_WORKER_RUNTIME": "node"
  }
}
